

body {
    color: white;
    background-color: black;

}
h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
p {
    color: white;
    font-family: 'Helvetica', bold, sans-serif; 

    h6 {
        color: white;
        font-family: 'Helvetica', bold, sans-serif; 
        position: centre
}
ul {
    color: white;
    font-family: 'Helvetica', bold, sans-serif; 
}
form
    {
        color: white;
        font-family: 'Helvetica', bold, sans-serif; 
    }
