

body {
    color: white;
    background-color: black;
    background-image:url('Tlogo.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-image:size = width"100" length"100"
   

}
h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
    
}
a  {
    color: white;
    font-family: 'Helvetica', bold, sans-serif; 
    text-align: center;
    
   }

h2 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
}

p {
    color: white;
    font-family: 'Helvetica', bold, sans-serif; 
}


ul {
    color: white;
    font-family: 'Helvetica', bold, sans-serif; 
}
form
    {
        color: white;
        font-family: 'Helvetica', bold, sans-serif; 
        line-height:1.5em; 
    }
    h6 {
        color: white;
        padding: 20px;
        font-family: 'Helvetica', bold, sans-serif; 
        position: fixed;
        text-align: center;
        }
