

body {
    color: white;
    background-color: black;
    background-image:url('Tlogo.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;

}
h1 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

p {
    color: white;
    font-family: 'Helvetica', bold, sans-serif; 
}
    h6 {
        color: white;
        font-family: 'Helvetica', bold, sans-serif; 
        text-align: center;
}
ul {
    color: white;
    font-family: 'Helvetica', bold, sans-serif; 
}
form
    {
        color: white;
        font-family: 'Helvetica', bold, sans-serif; 
    }
    a
    {
        color: white;
        font-family: 'Helvetica', bold, sans-serif; 
    }