
body {
    color: white;
    background-color: black;
    background-image:url('Tlogo.jpg');
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-image:size = width"300" length"300"
   

}